.logo {
    top: 0;
    bottom: 0;
    padding-right: 10px;
    vertical-align: middle;
}

.masthead h1 {
    font-family: 'Roboto';
    /* font-weight: bold; */
    letter-spacing: 4px;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  }

.masthead h2 {
    color: #ffffff;
    opacity: 0.8;
}

#about {
    background: #2D2D2D;
}